<footer>
    <p>Created by Nando Benelli</p>
    <p>Copyright &copy; {{getCurrentYear}}</p>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script>$(document).ready(() => { $('.button-collapse').sideNav();})</script>
</footer>