<!DOCTYPE html>
<html>
    {{> header}}
    <body>
        {{> navbar}}
        <div class="container">
            <h1>{{pageTitle}}</h1>
            <p>Bester Text</p>
            <button class="btn waves-effect waves-light">Nice</button>
        </div>
    </body>
    {{> footer}}
</html> 